body {
  display: grid;
  grid-template-areas: 
    "aside header"
    "aside main";
  grid-template-columns: auto 1fr;
}

.cabecalho {
  grid-area: header;
}

.menu-lateral {
  grid-area: aside;
}

.principal {
  grid-area: main;
}

.navbar__items {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.navbar__item button {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .4rem;
}